(
    left_width: 280.0,
    right_width: 300.0,
    bottom_height: 230.0,
    left_tabs: [
        SceneOutline,
    ],
    center_tabs: [
        Viewport,
    ],
    right_tabs: [
        Inspector,
    ],
    bottom_tabs: [
        AssetManager,
        ScriptEditor,
    ],
    active_left: 0,
    active_center: 0,
    active_right: 0,
    active_bottom: 0,
)